@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


@import "tailwindcss";

@theme {
  --color-brand-primary: #5245ff;
  --color-brand-primary-hover: #4235e0;
  --color-brand-navy: #0a0e4d;
  --color-brand-navy-light: #121870;
  
  --color-brand-light: #eff0ff;
  --color-brand-subtle: #f5f6ff;
  
  --color-brand-accent: #7c3aed;
}

*{

    font-family: "Outfit", sans-serif;

}

@layer base {
  button {
    @apply cursor-pointer;
  }

  input:not([type="checkbox"]) {
    @apply outline-none focus:ring border border-gray-300
    focus:ring-brand-primary/30 focus:border-brand-primary rounded-lg;
  }

  textarea {
    @apply outline-none focus:ring border border-gray-300
    focus:ring-brand-primary/30 focus:border-brand-primary rounded-lg resize-none;
  }
}